@import 'compass';
@import "libs/owl.carousel";
@import "libs/owl.theme";
@import "layout/footer";
@import "layout/header";
@import "helpers/variables";
@import "helpers/mediaQueries";
@import "helpers/modernizr";
@import "helpers/icons";



/* ==========================================================================
   Overall Container 
   ==========================================================================*/
* { 
	margin:0; 
	padding:0; 
}



#container{
	max-width: 980px;
	width: 100%;
	height: 100%;
	margin: 0 auto;

}

/* ==========================================================================
   Main Content
   ==========================================================================*/

#main_wrapper, #main_wrapper_contactPage
{
	@include display-flex;
	@include flex-wrap(wrap);



	p{
		margin: 10px;
		padding: 10px;
		letter-spacing: .1em;
		line-height: 18px;
		color: #7b7b7b;
		font-size: 11px;
	}


	h2, h3, h4, h5{ 
		margin: 20px; 
		color:#3c3c3c;
		
	}

	.menu_title{
		text-decoration: underline;
	}


	.menu_italian{
		font-variant: small-caps;
		font-size:14px;
		color: #3c3c3c;

		.menu_english{
			font-variant: normal;
			font-size:12px;
		}
	}

	.img_homepg_small{
		margin: 20px;

	}



		#aside_left
		{
			flex-grow:1;
			flex-basis:33%;

			@include order(1);
			font-family: $generalText;
			min-height: 280px;
			border-right: $borderLight;
			border-left: $borderLight;
			

			p{
				padding: 10px;
				letter-spacing: .1em;
				line-height: 20px;
			}
		}

		#main_content{
			flex-grow:1;
			flex-basis:33%;
			@include order(2);
			font-family: $generalText;
			min-height: 400px;
			border-right: $borderLight;
		}


		#aside_right{
			flex-grow:1;
			flex-basis:33%;
			// @include order(3);
			font-family: $generalText;
			min-height: 280px;
			border-left: $borderLight;


			.fieldset 
			{
				border:none;
				background-color:#fafafa;
				border-top: $borderLight;
				border-bottom: $borderLight;
			}

			.coffee_cakes{
				border-bottom: $borderLight;
			}

			.btn_fullMenu
			{
				margin: 10px 0px 10px 20px;
				width: 120px;
				height: 35px;
				background-color: $napoliBlue;
				border: none;
				@include border-radius(10px);
				
				// CSS Syntax box-shadow: none| h-shadow |v-shadow | blur spread | color;
				-webkit-box-shadow: 0 10px 6px -6px #777;
			 	-moz-box-shadow: 0 10px 6px -6px #777;
				 box-shadow: 0 10px 6px -6px #777;


				a
				{
					text-decoration: none;
					font-size: 16px;
					color: $lightColour;
				}
			}

		}

		#main_content__aboutPG{
			flex-grow:1;
			order: 2;
			flex-basis:50%;
			padding-right: 100px;
		}
		#aside_right__aboutPG{
			flex-grow:1;
			order: 1;
			flex-basis:50%;
		}

		.aboutPG_desc{
			width: 100%;
			height: 400px;
			font-family: $generalText;
			border: 1px solid #AAAAAA;
		}

		
		//Products ***/

		#products_wrapper{
			@include display-flex;
			@include flex-wrap(wrap);
			width:100%;
			height:100%;

			
			.item_a{
				flex-grow:1;
				flex-basis:100%;
				margin-bottom: 21px;
				height: 315px;
				background-color:#fafafa;
				-webkit-box-shadow: 0 10px 6px -6px #777;
			    -moz-box-shadow: 0 10px 6px -6px #777;
			    box-shadow: 0 10px 6px -6px #777;
			}

			.item_b{
				flex-grow:1;
				flex-basis:100%;
				margin-bottom: 20px;
				height: 315px;
				background-color:#fafafa;
				-webkit-box-shadow: 0 10px 6px -6px #777;
			    -moz-box-shadow: 0 10px 6px -6px #777;
			    box-shadow: 0 10px 6px -6px #777;
				
			}

			p{ 
				font-family: $generalText;
				font-size: 20px;
				
			}

			.item_title {
				margin-top: -240px;
				margin-left: 350px;
				font-weight: bold;
			}

			.item_desc{
				font-size: 16px;
				margin-left: 350px;
				// word-wrap: break-word;
			}

			.shopping_button_1{
				margin-top: 20px;
				margin-left: 30px;
			}

			.shopping_button_2{
				margin-top: 60px;
				margin-left: 30px;
			}

			.shopping_cart{
				padding-top: 20px;
				float: right;
			}

			form{
				height: 50px;
				width:100%;
			}

			img{
				padding:30px;
			}
		}
}



	#owl-demo {

		.item{
			padding:30px 3px;
		}
		.item img{
			display: block;
			width: 100%;
			height: auto;
		}
	}

	.main_content_aboutPG{
		width: 100%;
		margin: 20px 0px 0px 0px;

	}

	.fb-page{
		@include border-radius(20px);
		margin-left: 20px;
	}



#main_img{
	// @include border-radius(20px 20px 20px 20px); //Compass
	width: 100%;
	height: 100%;
	padding-top:30px;
	margin-bottom:20px;
}



//Google Map in Contact page
#map-canvas {
    width: 70%;
    height: 400px;
    margin-left: 38px;
    margin-top: 50px;
}

#address_container_contactPage{
	margin-left: 38px;
}

#address_container_contactPage{
	margin-top: 70px;
}


/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
Form on Contact Page
========================================================================== */

#form_container h2{
	margin-left: 38px;
	margin-top: 50px;
}

.input{
	padding:10px;
	margin: 20px 0px 20px 38px;
}

.yrSubject{ margin-right:0px; }

.wrapper{
	display: inline-block;
}

textarea{
	width: 70%;
	height: 200px;
	padding:10px;
	margin:0px 38px 0px 38px;
}


.submit_wrapper{ 
	display: inline-block;
}

.form{
	padding:10px;
	margin-right: 40px;
}

.send{margin: 20px 80px 40px 38px; }

.send, .reset{  
	background-color:$napoliBlue;
	 /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2F2727), to($napoliBlue));

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, $napoliBlue, #2F2727);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, $napoliBlue, #2F2727);

  /* IE 10 */
  background: -ms-linear-gradient(top, $napoliBlue, #2F2727);

  /* Opera 11.10+ */
  background: -o-linear-gradient(top, $napoliBlue, #2F2727);


	color: white;
	border: none;
	width:100px;
    cursor: pointer;
	border-radius: 10px;
	-webkit-box-shadow: 0 10px 6px -6px #777;
	-moz-box-shadow: 0 10px 6px -6px #777;
	box-shadow: 0 10px 6px -6px #777;
}


/* ==========================================================================
 Media Queries - taking them out of a seperate file 
 ========================================================================== */

   $phone-width: 320px;
   $tablet-width: 768px;
   $desktop-width: 1024px;

   #main_wrapper{
   	@media only screen and (max-width: $tablet-width){
   		display: block;
   	}
   }

   #main_img{
   	@media screen and (max-width: $phone-width){
		// display: none;
	}
}


@mixin desktop{
	@media (min-width: $desktop-width)
	{
		@content; 
	}
}

@include desktop
{
	.hamburger-menu, #dropDown,  #logo_smScreen, .above, .phNum

	{
		display: none;
	}

	.shopping_button
	{
		padding-top: 20px;
	}

}


@mixin tablets{
	@media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) 
	{
		@content;
	}

}


@include tablets
{

	#aside_left, #aside_right{
		border-top: $borderLight;
		border-bottom: $borderLight;
		border-left: none;
		border-right: none;
	} 

	.shopping_cart
	{
		padding-left: 0px !important; // moving the button to the lhs
		margin-bottom: 20px;
		float: right;
	}

		

	#nav_container
	{
		border-top: 15px solid #656565;
		height: 100px;
	

		#nav_wrapper
		{
			height: 100px;


			img{
				height: 100px;
				width: 128px;
			}


			#nav_menu ul
			{
				margin-top: 76px;

				li a
				{
					margin-left: 20px;
					font-size: 18px;
				}
			}
		}
	}

	.hamburger-menu, #dropDown,  #logo_smScreen,
		.above, .phNum

	{
		display: none;
		// visibility: hidden;
	}
}


@mixin phone{
	@media (max-width: $tablet-width) 
	{
		@content;
	}
}

@include phone
{

	//Prevents paragraph from being wider than screen size
	p.smScreen_logo { 
		width: 200px;
	}

	#main_wrapper 
	{ 
		#aside_left
		{
			border-top: $borderLight;
		}

		#aside_right
		{

			h3{ font-size: 14px; }
			h4{ font-size: 12px; }
			h5{ font-size: 8px; }

			.btn_fullMenu
			{
				width: 75px;
				height: 20px;


				a{
					font-size: 10px;
				}
			}
		}
	}
	.cp_rights{ height:100%; width: 100%; }

	// auto height prevents menu items jumping with slideToggle()
	#nav_container{
		height:auto;
		width: auto;
		margin-bottom: 5px;
		display: none;
	}  

	#carousel{
		margin-top: 20px;
	}

	#logo_img
	{			
		display: none;
	}

	li .selected
	{
		// margin-right: 10px;
		margin:0;
		padding: 0;
	}

	#nav_wrapper
	{
		width: auto;
		height:auto;
		display: none;
		border-top: 0px;

		#nav_menu
		{ 
			
			.icon_svg{	display: none; }

		}
	}	

	#dropDown
	{
		display: none;
		ul
		{
			display: block;
			margin-top: 5px;
			margin:0;
			padding: 0;


			li
			{
				background-color:$napoliBlue;
				height:44px;
				line-height: 50px;
				display: block;
				border-top: 2px solid white;
				border-radius:10px;
			}

			li a
			{
				font-size: 14px;
				
				span
				{ 
					left:150px; 
					text-transform: uppercase;
					font-family: $generalText;

				}
				.text_dropDown:hover
				{
					color: #333;
				}

			}
		}
	}




	#main_wrapper
	{
		font-size: 14px;
		display: block;
		margin:0;
		padding: 0;
	}
	footer
	{
		min-height: 100px;
		border-top: 20px solid $napoliBlue;
	}

	#footer_container
	{
		p, a, #footer_address
		{
			font-size: 12px;
			line-height: 1.5em;
		}

		#explore_container
		{
			width:50px;
		}

		#address_container
		{
			width:180px;
			display: block;
			bottom:115px;
		}

		ul.social_links li{display:none;}
	}

	//Products
	#main_wrapper #products_wrapper
	{

		

		.item_desc{ display:none; }

		p{ font-size:8px; }

		.item_title
		{  
			position: relative;
			top: 220px;
			right:200px;
		}

		.shopping_button_1, .shopping_button_2{  
			position: relative;
			top: 140px;
		}
		.shopping_button_2{  
			position: relative;
			top: 110px;
		}
		.shopping_cart
		{
			padding: 0px; // moving the button to the lhs
			margin-bottom: 20px;
		}


	}

	#main_wrapper #products_wrapper p{
		font-size:14px;
	}

	.reset{
		margin-bottom: 20px;
		margin-left: 38px;
	}

	.send{margin-right: 10px; }

	.send, .reset{
		width: 75px;
		font-size: 12px;
	}


	#logo_smScreen_wrapper{
		background-color: $napoliBlue;
		width:100%;
	}

	//Address & Number in Top Right
	.above, .phNum{
		position: relative;
		left: 150px;
		top: -58px;
		font-size: 10px;
		font-family: $generalText;
	}

/* ==========================================================================
Small Screen Drop Down Menu
========================================================================== */

.hamburger-menu
{
    width:30px;
    height:5px;
    background-color:#111;
    border-radius:5px;
    cursor: pointer;
    position:absolute;
    left:10px;
    top:120px;

    p.smScreen_menuTxt{
    	position: relative;
		right: 40px;
		font-size: 12px;
		font-family: $generalText;
    }

    span{margin-left: 35px;}
}

//increase clickable area of drop down links
.link{
    	display: inline-block;
    	width:100%;
    	height:100%;
 }


.hamburger-menu:after, .hamburger-menu:before
{
    content: '';
    width: 100%;
    height:5px;
    background-color:#111;
    position:absolute;
    border-radius:5px;
}

.hamburger-menu:after
{
    top:7px;
}

.hamburger-menu:before
{
    top:14px;
}



} // end @include phone






