/* Sass Table of Contents:
1.0 Overall Container
2.0 Main Content 
3.0 Images 
4.0 Icons 
*/
/* ==========================================================================
   1.0 Container 
   ========================================================================== */
/* line 19, ../sass/style.scss */
* {
  margin: 0;
  padding: 0;
}


/* line 27, ../sass/style.scss */
#container {
  max-width: 980px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

/* ==========================================================================
   2.0 Navigation 
   ========================================================================== */
/* line 38, ../sass/style.scss */
#nav_container {
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  border-bottom: 15px solid #8CC63E;
  margin-bottom: 5px;
}

/* Modernizr */
/* line 47, ../sass/style.scss */
.no-flexbox li {
  display: inline-block;
  float: left;
  position: relative;
  top: -102px;
  left: 100px;
}

/* line 54, ../sass/style.scss */
.no-flexbox #nav_wrapper {
  float: left;
}

/* line 55, ../sass/style.scss */
.no-flexbox #nav_menu {
  text-align: center;
}

/* line 58, ../sass/style.scss */
#nav_wrapper {
  display: -webkit-flex;
  display: flex;
  height: 100px;
  width: 980px;
  margin: 0 auto;
  background: #ffffff;
}
/* line 66, ../sass/style.scss */
#nav_wrapper #nav_menu {
  flex-basis: 76%;
  order: 2;
}
/* line 69, ../sass/style.scss */
#nav_wrapper #nav_menu ul {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-direction: row;
  flex-direction: row;
  list-style-type: none;
  justify-content: flex-start;
  margin-top: 53px;
}
/* line 79, ../sass/style.scss */
#nav_wrapper #nav_menu li a {
  font-family: "ff-unit-rounded-web-1","ff-unit-rounded-web-2",sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-left: 60px;
  padding-top: 20px;
  text-decoration: none;
  color: #333;
}
/* line 88, ../sass/style.scss */
#nav_wrapper #nav_menu .button-text:hover {
  color: #8CC63E;
}
/* line 92, ../sass/style.scss */
#nav_wrapper #logo_container {
  flex-basis: 12%;
  -webkit-order: 1;
  order: 1;
}
/* line 96, ../sass/style.scss */
#nav_wrapper #logo_container #logo_img {
  border: none;
}
/* line 103, ../sass/style.scss */
#nav_wrapper #social_nav {
  flex-basis: 12%;
  -webkit-order: 3;
  order: 3;
  margin-top: 40px;
  margin-right: -100px;
}

/* Modernizr */
/* line 112, ../sass/style.scss */
.no-flexbox #logo_img {
  text-decoration: none;
  border: 0px;
}

/* ==========================================================================
   3.0 Main Content
   ========================================================================== */
/* Modernizr */
/* line 120, ../sass/style.scss */
.no-flexbox #main_wrapper {
  display: inline-block;
}

/* line 122, ../sass/style.scss */
.no-flexbox #aside_left, .no-flexbox #main_content, .no-flexbox #aside_right {
  float: left;
  width: 320px;
}

/* line 127, ../sass/style.scss */
#main_wrapper {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
/* line 131, ../sass/style.scss */
#main_wrapper p {
  margin: 10px;
}
/* line 132, ../sass/style.scss */
#main_wrapper p.text_asideL {
  color: green;
}
/* line 133, ../sass/style.scss */
#main_wrapper p.text_Main {
  color: orange;
}
/* line 134, ../sass/style.scss */
#main_wrapper p.text_asideR {
  color: red;
}
/* line 136, ../sass/style.scss */
#main_wrapper #aside_left {
  flex-grow: 1;
  flex-basis: 33%;
  -webkit-order: 1;
  order: 1;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  min-height: 280px;
  border: 1px solid #AAAAAA;
}
/* line 147, ../sass/style.scss */
#main_wrapper #main_content {
  flex-grow: 1;
  flex-basis: 33%;
  -webkit-order: 2;
  order: 2;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  min-height: 400px;
  border: 1px solid #AAAAAA;
}
/* line 158, ../sass/style.scss */
#main_wrapper #aside_right {
  flex-grow: 1;
  flex-basis: 33%;
  -webkit-order: 3;
  order: 3;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  min-height: 280px;
  border: 1px solid #AAAAAA;
}

/* Modernizr */
/* line 170, ../sass/style.scss */
.no-flexbox .footer_titles, .no-flexbox #footer_address {
  position: relative;
  right: 44px;
}

/* line 173, ../sass/style.scss */
footer {
  width: 100%;
  min-height: 240px;
  height: auto;
  background: #2f3033;
  border-top: 46px solid #8CC63E;
}
/* line 183, ../sass/style.scss */
footer #footer_container {
  max-width: 980px;
  margin: 0 auto;
}
/* line 188, ../sass/style.scss */
footer #explore_container {
  padding: 20px 20px;
  font-size: 13px;
  line-height: 1.5em;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #AAAAAA;
}
/* line 195, ../sass/style.scss */
footer #explore_container a {
  display: block;
  text-decoration: none;
  color: inherit;
}
/* line 202, ../sass/style.scss */
footer #address_container {
  position: relative;
  margin: 0 auto;
  width: 200px;
  bottom: 120px;
}
/* line 208, ../sass/style.scss */
footer #address_container address {
  font-size: 13px;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-style: normal;
  line-height: 1.5em;
  color: #AAAAAA;
}
/* line 217, ../sass/style.scss */
footer .footer_titles {
  width: 100px;
  font-size: 13px;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-style: normal;
  font-weight: bold;
  padding-bottom: 5px;
  color: #ffffff;
}
/* line 227, ../sass/style.scss */
footer .cp_rights {
  font-size: 13px;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  position: relative;
  bottom: 20px;
  text-align: center;
  color: #AAAAAA;
  border-top: 1px solid #AAAAAA;
}

/* line 239, ../sass/style.scss */
#main_img {
  -moz-border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px 20px 20px 20px;
  width: 100%;
  height: 100%;
}

/* ==========================================================================
   4.0 Icons
   ========================================================================== */
/* line 249, ../sass/style.scss */
#my_favicon {
  height: 16px;
  width: 16px;
}

/* line 254, ../sass/style.scss */
.icon_svg {
  width: 20px;
  height: 20px;
  padding-right: 0px;
  fill: #333;
}

/* Modernizr */
/* line 262, ../sass/style.scss */
.no-flexbox .social_links {
  position: relative;
  top: 110px;
  left: 800px;
}

/* line 263, ../sass/style.scss */
.no-flexbox #explore_container a {
  color: #AAAAAA;
}

/*aligning nav text with icons*/
/* line 266, ../sass/style.scss */
span.button-text {
  position: relative;
  top: -3px;
}

/*Social icons with Sass*/
/* line 272, ../sass/style.scss */
ul.social_links li {
  list-style-type: none;
}
/* line 273, ../sass/style.scss */
ul.social_links li a {
  display: inline-block;
  float: right;
  width: 32px;
  height: 32px;
  margin-top: 10px;
  text-indent: -9999px;
}

/* line 80, social/*.png */
.social-sprite, .social-apple, .social-email, .social-facebook, .social-linkedin, .social-twitter, .facebook {
  background-image: url('../images/social-se5176a880d.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.social-apple {
  background-position: 0 0;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.social-email {
  background-position: 0 -32px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.social-facebook {
  background-position: 0 -64px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.social-linkedin {
  background-position: 0 -96px;
}

/* line 84, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.social-twitter {
  background-position: 0 -128px;
}

/* line 290, ../sass/style.scss */
.facebook {
  background-position: 0 -64px;
}

/* line 293, ../sass/style.scss */
.icon_svg:hover {
  /*fill:#8CC63E !important;*/
}

/* ==========================================================================
   5.0 Browser Upgrade Prompt
   ========================================================================== */
/* line 301, ../sass/style.scss */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   6.0 Media Queries
   ========================================================================== */
/* Smartphones */
/* Tablets 		*/
/* Lg Screens 	*/
@media only screen and (max-width: 768px) {
  /* line 317, ../sass/style.scss */
  #main_wrapper {
    display: block;
  }
}

@media screen and (max-width: 400px) {
  /* line 323, ../sass/style.scss */
  #aside_left {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  /* line 337, ../sass/style.scss */
  #nav_container {
    border-bottom: 0;
    margin-bottom: 0;
    height: 50px;
  }

  /* line 343, ../sass/style.scss */
  #nav_wrapper {
    width: auto;
    height: auto;
  }
  /* line 347, ../sass/style.scss */
  #nav_wrapper #logo_img {
    width: 64px;
    height: 50px;
  }
  /* line 353, ../sass/style.scss */
  #nav_wrapper #nav_menu li a {
    position: relative;
    left: 0px;
    padding-right: 10px;
    margin: 0px;
    font-size: 10px;
  }
  /* line 360, ../sass/style.scss */
  #nav_wrapper #nav_menu ul {
    margin-top: 25px;
  }
  /* line 363, ../sass/style.scss */
  #nav_wrapper #nav_menu .icon_svg {
    width: 8px;
    height: 8px;
    position: relative;
    bottom: 2px;
  }

  /* line 373, ../sass/style.scss */
  #main_wrapper {
    font-size: 10px;
  }

  /* line 376, ../sass/style.scss */
  footer {
    min-height: 100px;
    border-top: 20px solid #8CC63E;
  }

  /* line 382, ../sass/style.scss */
  #footer_container p, #footer_container a, #footer_container #footer_address {
    font-size: 8px;
    line-height: 1em;
  }
  /* line 387, ../sass/style.scss */
  #footer_container #address_container {
    width: 120px;
    display: block;
    bottom: 65px;
  }
  /* line 392, ../sass/style.scss */
  #footer_container ul.social_links li {
    display: none;
  }
}
